
a {
    text-decoration: none;
    cursor: pointer;
}
:root {
    --h: 100vh;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    font-size: 16px;
}
.main{
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(240, 240, 240);
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
}
.icon{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background: #fff;
    margin: 20px;
    text-align: center;
    font-size: 50px;
    line-height: 100px;
    font-family: sans-serif;
    overflow: hidden;
    box-shadow: 5px 10px 5px 5px rgba(0, 0, 0, .8);
    transition: all .3s ease-out;
}
.icon:hover{
    width: 400px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
}
.icon:hover i{
    color: #fff;
}

.icon .fa-tiktok{
    color: #000000;
}
.tiktok:hover{
    background: linear-gradient(45deg, #25F4EE, #FE2C55, #000000);

}

.icon .fa-instagram{
    color: #e1306c;
}
.instagram:hover{
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
}

.icon .fa-map-location-dot{
    color: #EA4335;
}
.map:hover{
    background: #34A853;
}

/* responsive */
@media only screen and (min-width: 320px) and (max-width: 991px) {
    .main{
        flex-direction: column;
    }
}
