* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.social-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.icon {
    font-size: 2.5rem;
    color: #333;
    transition: color 0.3s;
    text-decoration: none;
    text-align: center;
}

.icon:hover {
    color: #0077ff;
}